loadtest:
  name: ${CLUSTER_NAME}-locust
  namespace: locust
  locust_locustfile: locustfile.py
  locust_locustfile_configmap: emr-loadtest-locustfile
  locust_lib_configmap: emr-loadtest-lib
  locust_host: ""
  # pip_packages: ["prometheus_client==0.21.0","boto3==1.34.89","botocore==1.34.89","rich==13.7.1"]
  environment:
    REGION: ${REGION}
    EKS_CLUSTER_NAME: ${CLUSTER_NAME}
    JOB_SCRIPT_NAME: ${JOB_SCRIPT_NAME}

image:
  repository: ${ECR_URL}/locust
  tag: latest
  pullPolicy: Always
 
master:
  serviceAccountAnnotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::${ACCOUNT_ID}:role/${LOCUST_EKS_ROLE}"
  nodeSelector:
    operational: "true"

worker:
  serviceAccountAnnotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::${ACCOUNT_ID}:role/${LOCUST_EKS_ROLE}"
  nodeSelector:
    operational: "true"  
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
