apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: ${CLUSTER_NAME}
  region: ${AWS_REGION}
  version: "${EKS_VERSION}"
vpc:
  cidr: "${EKS_VPC_CIDR}"
  clusterEndpoints:
    publicAccess: true
    privateAccess: true
availabilityZones: ["${AWS_REGION}a","${AWS_REGION}b"]   
iam:
  withOIDC: true
  serviceAccounts:
  - metadata:
      name: cluster-autoscaler
      namespace: kube-system
      labels: {aws-usage: "cluster-ops"}
    wellKnownPolicies:
      autoScaler: true
    roleName: ${CLUSTER_NAME}-eksctl-cluster-autoscaler-role
  - metadata:
      name: aws-load-balancer-controller
      namespace: kube-system
      labels: {aws-usage: "cluster-ops"}
    wellKnownPolicies:
      awsLoadBalancerController: true
    roleName: ${CLUSTER_NAME}-aws-load-balancer-controller-role
  - metadata:
      name: ebs-csi-controller-sa
      namespace: kube-system
      labels: {aws-usage: "cluster-ops"}
    wellKnownPolicies:
      ebsCSIController: true
    roleName: ${CLUSTER_NAME}-AmazonEKS_EBS_CSI_DriverRole
  - metadata:
      name: amp-iamproxy-ingest-service-account
      namespace: prometheus
      labels: {aws-usage: "monitoring"}
    attachPolicyARNs: 
    - "arn:aws:iam::aws:policy/AmazonPrometheusRemoteWriteAccess"
    - "arn:aws:iam::aws:policy/AmazonPrometheusQueryAccess"
    roleName: ${CLUSTER_NAME}-prometheus-ingest 
    roleOnly: true    
addons:
  - name: aws-ebs-csi-driver
    version: latest
    wellKnownPolicies:
      ebsCSIController: true
cloudWatch:
  clusterLogging:
    enableTypes: ["*"]
    logRetentionInDays: 30     
managedNodeGroups:
  # a nodegroup dedicated for operational pods
  - name: ops-ng
    instanceType: m5.4xlarge
    desiredCapacity: 3
    minSize: 3
    maxSize: 3
    privateNetworking: true
    labels:
      operational: "true"
      monitor: "true"
    availabilityZones: ["${AWS_REGION}a","${AWS_REGION}b"]
    # tags:
    #   # EC2 tags required for cluster-autoscaler auto-discovery
    #   k8s.io/cluster-autoscaler/enabled: "true"
    #   k8s.io/cluster-autoscaler/${CLUSTER_NAME}: "owned"