apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: ${CLUSTER_NAME}
  region: ${AWS_REGION}
  version: "${EKS_VERSION}"
vpc:
  cidr: "${EKS_VPC_CIDR}"
  clusterEndpoints:
    publicAccess: true
    privateAccess: true
availabilityZones: ["${AWS_REGION}a","${AWS_REGION}b"]   
iam:
  withOIDC: true
  serviceAccounts:
  - metadata:
      name: cluster-autoscaler
      namespace: kube-system
      labels: {aws-usage: "cluster-ops"}
    wellKnownPolicies:
      autoScaler: true
    roleName: ${CLUSTER_NAME}-eksctl-cluster-autoscaler-role
  - metadata:
      name: aws-load-balancer-controller
      namespace: kube-system
      wellKnownPolicies:
      labels: {aws-usage: "cluster-ops"}
        awsLoadBalancerController: true
      roleName: ${CLUSTER_NAME}-AWSLoadBalancerControllerRole
  - metadata:
      name: ebs-csi-controller-sa
      namespace: kube-system
      wellKnownPolicies:
        ebsCSIController: true
      roleName: ${CLUSTER_NAME}-AmazonEKS_EBS_CSI_DriverRole
  - metadata:
      name: amp-iamproxy-ingest-service-account
      namespace: prometheus
      labels: {aws-usage: "monitoring"}
    attachPolicyARNs: 
    - "arn:aws:iam::aws:policy/AmazonPrometheusRemoteWriteAccess"
    roleName: ${CLUSTER_NAME}-prometheus-ingest 
    roleOnly: true    
addons:
  - name: aws-ebs-csi-driver
    version: latest
    wellKnownPolicies:
      ebsCSIController: true
    serviceAccountRoleARN: arn:aws:iam::${ACCOUNT_ID}:role/${CLUSTER_NAME}-AWSLoadBalancerControllerRole
cloudWatch:
  clusterLogging:
    enableTypes: ["*"]
    logRetentionInDays: 30     
managedNodeGroups:
  - name: ${CLUSTER_NAME}-operational-ng
    instanceType: r5.4xlarge
    desiredCapacity: 1
    privateNetworking: true
    labels:
      operational: "true"
      monitor: "true"
  - name: ${CLUSTER_NAME}-m5-worker-ng-2a
    instanceType: m5.xlarge
    desiredCapacity: 1
    minSize: 1
    maxSize: 350
    privateNetworking: true
    labels:
      operational: "false"
      monitor: "false"
    availabilityZones: ["${AWS_REGION}a"]
    tags:
      # EC2 tags required for cluster-autoscaler auto-discovery
      k8s.io/cluster-autoscaler/enabled: "true"
      k8s.io/cluster-autoscaler/${CLUSTER_NAME}: "owned"
  - name: ${CLUSTER_NAME}-m5-worker-ng-2b
    instanceType: m5.xlarge
    desiredCapacity: 1
    minSize: 1
    maxSize: 350
    privateNetworking: true
    labels:
      operational: "false"
      monitor: "false"
    availabilityZones: ["${AWS_REGION}b"]
    tags:
      k8s.io/cluster-autoscaler/enabled: "true"
      k8s.io/cluster-autoscaler/${CLUSTER_NAME}: "owned"